[Unit]
Description=tnxqso backend server
After=network.target postgresql@9.4-main.service 

[Service]
ExecStart=/usr/local/tnxqso/srv.py --test
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
